.button-image {
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
  }
.model-image{
    width: 280px; /* Adjust the width as needed */
    height: auto;
}

.model-container {
    position: relative;
    display: inline-block;
  }
  
  .selected-glasses-image {
    width: 150px;
    position: absolute;
    top: 90px; /* Adjust the top position as needed */
    left: 65px; /* Adjust the left position as needed */
    z-index: 1; /* Ensure the glasses image appears on top of the model image */
    opacity: 2;
  }
  
  /* Add any other styles as needed */
  